html {
  background-color: rgb(221, 221, 221);
  scroll-behavior: smooth;
}

body {
  max-width: 375px;
  margin: auto;
  background: #ffffff;
  font-family: "acumin-pro", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

/* start of the nav section/header */
nav {
  padding: 24px 24px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-sections-container {
  display: flex;
  flex-flow: row wrap;
}

h1 {
  width: 193px;
  margin-bottom: 18px;
  margin-top: 0;
}

.nav-icon-container img {
  width: 26px;
}

.nav-icon-container img:first-of-type {
  margin-right: 15px; 
  width: 22px;
}

.nav-icon-container {
  display: flex;
}

nav a {
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 20px;
  font-size: 14px;
  font-family: "acumin-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #646464;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline #ffab74;
  scale: 1.01;
}

.header-img {
  box-sizing: border-box;
  border-top: 7px #ffab74 solid;
  border-bottom: 7px #ffab74 solid;
}
/* end of the nav section/header */

/* start of the main section */
main {
  padding: 52px 40px 54px;
}

h2,
h3 {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  margin: 0;
  margin-bottom: 25px;
}

h2 {
  font-size: 25px;
}

main p {
  margin-bottom: 60px;
  margin-top: 0;
  color: #646464;
}

.product-section p {
  margin-bottom: 25px;
}

.product-section ul {
  margin-top: 0;
  margin-bottom: 60px;
  list-style: none;
  padding-left: 0;
  color: #454545;
}

.product-section img {
  border-top: 4px #ffab74 solid;
  border-bottom: 4px #ffab74 solid;
  height: 142px;
}

.product-section img:first-of-type {
  border-right: 4px #ffab74 solid;
}

.product-img-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 25px;
}

.personality-section p {
  margin-bottom: 6px; 
}

.personality-section p:first-of-type {
  margin-bottom: 25px;
}

.personality-section ul {
  margin-top: 0;
  margin-bottom: 60px;
  color: #454545;
  list-style: none;
  padding: 0;
}

.personality-section img {
  width: 100%;
  margin-bottom: 25px;
  border-top: 4px #ffab74 solid;
  border-bottom: 4px #ffab74 solid;
}

.info-section {
  text-align: center;
}

.exposition-section p {
  margin-bottom: 30px;
}

.exposition-section img {
  margin-bottom: 55px;
  filter: drop-shadow( 0px 0px 2.5px rgba(0, 0, 0, 0.8));
}

.info-section p {
  color: #454545;
  margin-bottom: 0;
}
/* end of the main section */

/* start of the footer */
footer {
  background-color: #ffab74;
  padding: 38px 110px 20px;
}

.social-icon-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 28px;
  margin-bottom: 30px;
}

footer img {
  width: 30px;
}

footer img:nth-of-type(1) {
  margin-bottom: 10px;
}

footer img:nth-of-type(2) {
  margin-bottom: 10px;
}

footer img:nth-of-type(3) {
  margin-bottom: 10px;
}

footer p {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  color: #323232;
}

footer span {
  font-family: "nunito", sans-serif;
  font-weight: 300;
  font-style: normal;
}
