html {
  background-color: rgb(221, 221, 221);
}

body {
  max-width: 375px;
  margin: auto;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  padding: 21px 24px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-sections-container {
  display: flex;
  flex-flow: row wrap;
}

nav img {
  width: 193px;
}

.nav-icon-container img {
  width: 20px;
}

.nav-icon-container img:first-of-type {
  margin-right: 15px; 
}

.nav-icon-container {
  display: flex;
}

nav p {
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 20px;
  font-size: 14px;
  font-family: "acumin-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #646464;
}
/*end of the nav section/header*/
