body {
  max-width: 375px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  padding: 21px 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-sections-container {
  display: flex;
  flex-flow: row wrap;
}

nav img {
  width: 193px;
}

.nav-icon-container img {
  width: 20px;
}

.nav-icon-container img:first-of-type {
  margin-right: 15px; 
}

.nav-icon-container {
  display: flex;
}
nav p {
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 20px;
  font-size: 14px;
  font-family: Acumin;
}

